In [2]:
import zipfile
import os
from pathlib import Path
import pprint
import pandas as pd
import glob

BASE_DATA_PATH = r'C:\D\Whitireia\ARP\data'

In [65]:
def unzip_given_file_to_folder(file_path, folder):
    with zipfile.ZipFile(file_path, 'r') as z:
        z.extractall(folder)

In [66]:
zipped_data = os.chdir(os.path.join(BASE_DATA_PATH, r'zipped_data'))
for file in os.listdir(zipped_data):
    if file.endswith('.zip'):
        file_path = os.path.abspath(file)
        folder_to_unzip = os.path.join(BASE_DATA_PATH, r'unzipped_data_folders', file.split('.')[0])
        unzip_given_file_to_folder(file_path=file_path, folder=folder_to_unzip)
    else:
        print(f"{file} - Not a ZIP file!")

#### In the next three steps every uzipped folder containing a weather parameter was checked. The only one file with the most amount of values was taken from the multiple data files. As a result, there is one file corresponding each parameter per station. For example, station id: 41559 parameter: Wind has had 3 data files, but after transforming there is the only one file for Wind for 41559. 
### The selection has been made for each of the 16 stations.

In [ ]:
file = r'C:\D\Whitireia\ARP\data\unzipped_data_folders\3145_Wind\3145__Wind__D.csv'
parameter = 'Speed [m/s]'
# Speed [m/s]
# Mean Temperature [Deg C]
# Rainfall [mm]
# Relative humidity [%]
df = pd.read_csv(file, usecols=['Observation time UTC',	parameter, 'Data Source'], parse_dates=['Observation time UTC'])
print(file)
print(df['Data Source'].value_counts())
display(df.sort_values(['Observation time UTC'], ascending=False))
print(df.info())

C:\D\Whitireia\ARP\data\unzipped_data_folders\3145_Wind\3145__Wind__D.csv
Data Source
D    8571
Name: count, dtype: int64

          Observation time UTC Data Source  Speed [m/s]
8462 2024-02-29 20:00:00+00:00           D         1.03
8570 2024-02-28 20:00:00+00:00           D         4.63
8569 2024-02-27 20:00:00+00:00           D         4.63
8568 2024-02-26 20:00:00+00:00           D         6.69
8567 2024-02-25 20:00:00+00:00           D         4.63
...                        ...         ...          ...
4    1995-06-14 21:00:00+00:00           D         2.57
3    1995-06-13 21:00:00+00:00           D         0.00
2    1995-06-02 21:00:00+00:00           D         6.69
1    1995-06-01 21:00:00+00:00           D         4.63
0    1994-10-27 20:00:00+00:00           D         6.69

[8571 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8571 entries, 0 to 8570
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation time UTC  8571 non-null   datetime64[ns, UTC]
 1   Data Source           8571 non-null   object
 2   Speed [m/s]           8571 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), object(1)
memory usage: 201.0+ KB
None

In [10]:
df = df.drop(columns='Data Source')
daily_df = df.groupby(pd.Grouper(key='Observation time UTC', freq='d')).mean(parameter).dropna(axis=0).reset_index().sort_values('Observation time UTC', ascending=False)
# display(daily_df.loc[300:250])
display(daily_df)
print(daily_df.info())

          Observation time UTC  Speed [m/s]
8570 2024-02-29 00:00:00+00:00         1.03
8569 2024-02-28 00:00:00+00:00         4.63
8568 2024-02-27 00:00:00+00:00         4.63
8567 2024-02-26 00:00:00+00:00         6.69
8566 2024-02-25 00:00:00+00:00         4.63
...                        ...          ...
4    1995-06-14 00:00:00+00:00         2.57
3    1995-06-13 00:00:00+00:00         0.00
2    1995-06-02 00:00:00+00:00         6.69
1    1995-06-01 00:00:00+00:00         4.63
0    1994-10-27 00:00:00+00:00         6.69

[8571 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 8571 entries, 8570 to 0
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation time UTC  8571 non-null   datetime64[ns, UTC]
 1   Speed [m/s]           8571 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 200.9 KB
None

In [ ]:
file_name = file.split('\\')[-1]
file_path = os.path.join(r'C:\D\Whitireia\ARP\data\station_folders', file_name)
daily_df.to_csv(file_path, index=False)
df1 = pd.read_csv(file_path)
print(file_path)
df1

C:\D\Whitireia\ARP\data\station_folders\3145__Wind__D.csv

           Observation time UTC  Speed [m/s]
0     2024-02-29 00:00:00+00:00         1.03
1     2024-02-28 00:00:00+00:00         4.63
2     2024-02-27 00:00:00+00:00         4.63
3     2024-02-26 00:00:00+00:00         6.69
4     2024-02-25 00:00:00+00:00         4.63
...                         ...          ...
8566  1995-06-14 00:00:00+00:00         2.57
8567  1995-06-13 00:00:00+00:00         0.00
8568  1995-06-02 00:00:00+00:00         6.69
8569  1995-06-01 00:00:00+00:00         4.63
8570  1994-10-27 00:00:00+00:00         6.69

[8571 rows x 2 columns]

### In the next step, Wind data for the Station 12442 are being calculated as a mean of the nearest neighbours 8567 and 3145.

In [5]:
df1 = pd.read_csv(os.path.join(BASE_DATA_PATH, r'station_folders\8567__Wind__D.csv'))
df2 = pd.read_csv(os.path.join(BASE_DATA_PATH, r'station_folders\3145__Wind__D.csv'))
display(df1)
display(df2)

df3 = pd.merge(df1, df2, on='Observation time UTC', how='inner', suffixes=('_df1', '_df2'))
df3['Speed [m/s]'] = df3[['Speed [m/s]_df1', 'Speed [m/s]_df2']].mean(axis=1)
display(df3)
df3 = df3[['Observation time UTC', 'Speed [m/s]']]
display(df3)
df3.to_csv(os.path.join(BASE_DATA_PATH, r'station_folders\12442__Wind__D.csv'), index=False)
df3.info()

            Observation time UTC  Speed [m/s]
0      2024-12-09 00:00:00+00:00         5.44
1      2024-12-08 00:00:00+00:00         7.72
2      2024-12-07 00:00:00+00:00         6.69
3      2024-12-06 00:00:00+00:00         3.15
4      2024-12-05 00:00:00+00:00         4.90
...                          ...          ...
11507  1993-03-22 00:00:00+00:00         5.21
11508  1993-03-21 00:00:00+00:00         7.16
11509  1993-03-20 00:00:00+00:00         3.87
11510  1993-03-19 00:00:00+00:00         4.84
11511  1993-03-18 00:00:00+00:00         4.63

[11512 rows x 2 columns]

           Observation time UTC  Speed [m/s]
0     2024-02-29 00:00:00+00:00         1.03
1     2024-02-28 00:00:00+00:00         4.63
2     2024-02-27 00:00:00+00:00         4.63
3     2024-02-26 00:00:00+00:00         6.69
4     2024-02-25 00:00:00+00:00         4.63
...                         ...          ...
8566  1995-06-14 00:00:00+00:00         2.57
8567  1995-06-13 00:00:00+00:00         0.00
8568  1995-06-02 00:00:00+00:00         6.69
8569  1995-06-01 00:00:00+00:00         4.63
8570  1994-10-27 00:00:00+00:00         6.69

[8571 rows x 2 columns]

           Observation time UTC  Speed [m/s]_df1  Speed [m/s]_df2  Speed [m/s]
0     2024-02-29 00:00:00+00:00             3.03             1.03        2.030
1     2024-02-28 00:00:00+00:00             4.74             4.63        4.685
2     2024-02-27 00:00:00+00:00             3.83             4.63        4.230
3     2024-02-26 00:00:00+00:00             4.32             6.69        5.505
4     2024-02-25 00:00:00+00:00             2.09             4.63        3.360
...                         ...              ...              ...          ...
8520  1995-06-14 00:00:00+00:00             1.31             2.57        1.940
8521  1995-06-13 00:00:00+00:00             1.00             0.00        0.500
8522  1995-06-02 00:00:00+00:00             5.23             6.69        5.960
8523  1995-06-01 00:00:00+00:00             3.48             4.63        4.055
8524  1994-10-27 00:00:00+00:00             2.50             6.69        4.595

[8525 rows x 4 columns]

           Observation time UTC  Speed [m/s]
0     2024-02-29 00:00:00+00:00        2.030
1     2024-02-28 00:00:00+00:00        4.685
2     2024-02-27 00:00:00+00:00        4.230
3     2024-02-26 00:00:00+00:00        5.505
4     2024-02-25 00:00:00+00:00        3.360
...                         ...          ...
8520  1995-06-14 00:00:00+00:00        1.940
8521  1995-06-13 00:00:00+00:00        0.500
8522  1995-06-02 00:00:00+00:00        5.960
8523  1995-06-01 00:00:00+00:00        4.055
8524  1994-10-27 00:00:00+00:00        4.595

[8525 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8525 entries, 0 to 8524
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation time UTC  8525 non-null   object
 1   Speed [m/s]           8525 non-null   float64
dtypes: float64(1), object(1)
memory usage: 133.3+ KB

#### In the next 2 steps, parameter: Temperature for station 31857 is being calculated.

In [9]:
file = r'C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Temperature\31857__Temperature__all_data.csv'
df = pd.read_csv(file, usecols=['Observation time UTC', 'Maximum Temperature [Deg C]', 'Minimum Temperature [Deg C]'], parse_dates=['Observation time UTC'])
print(file)
df = df.sort_values(['Observation time UTC'], ascending=False)
display(df)
print(df.info())

C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Temperature\31857__Temperature__all_data.csv

,Observation time UTC,Maximum Temperature [Deg C],Minimum Temperature [Deg C]
6134,2024-10-31 20:00:00+00:00,19.2,NaN
6133,2024-10-30 20:00:00+00:00,17.9,2.4
6132,2024-10-29 20:00:00+00:00,15.0,4.8
6131,2024-10-28 20:00:00+00:00,16.0,6.2
6130,2024-10-27 20:00:00+00:00,18.4,5.8
...,...,...,...
4,2007-09-05 21:00:00+00:00,9.5,NaN
3,2007-09-04 21:00:00+00:00,14.0,NaN
2,2007-09-03 21:00:00+00:00,16.2,NaN
1,2007-09-02 21:00:00+00:00,15.1,NaN
0,2007-09-01 21:00:00+00:00,14.7,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 6138 entries, 6134 to 0
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Observation time UTC         6138 non-null   datetime64[ns, UTC]
 1   Maximum Temperature [Deg C]  6134 non-null   float64
 2   Minimum Temperature [Deg C]  6083 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(2)
memory usage: 191.8 KB
None

In [10]:
df = df.dropna(axis=0, ignore_index=True)
df['Mean Temperature [Deg C]'] = df[['Maximum Temperature [Deg C]', 'Minimum Temperature [Deg C]']].mean(axis=1)
result_df = df[['Observation time UTC', 'Mean Temperature [Deg C]']]
result_df = result_df.groupby(pd.Grouper(key='Observation time UTC', freq='d')).mean('Mean Temperature [Deg C]').dropna(axis=0).reset_index().sort_values('Observation time UTC', ascending=False)

display(result_df)
result_df.to_csv(os.path.join(BASE_DATA_PATH, r'station_folders\31857__Temperature__all_data.csv'), index=False)
result_df.info()

          Observation time UTC  Mean Temperature [Deg C]
6078 2024-10-30 00:00:00+00:00                     10.15
6077 2024-10-29 00:00:00+00:00                      9.90
6076 2024-10-28 00:00:00+00:00                     11.10
6075 2024-10-27 00:00:00+00:00                     12.10
6074 2024-10-26 00:00:00+00:00                     15.95
...                        ...                       ...
4    2007-10-29 00:00:00+00:00                     10.75
3    2007-10-28 00:00:00+00:00                      5.25
2    2007-10-27 00:00:00+00:00                      6.75
1    2007-10-26 00:00:00+00:00                     12.05
0    2007-10-25 00:00:00+00:00                     12.95

[6079 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 6079 entries, 6078 to 0
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Observation time UTC      6079 non-null   datetime64[ns, UTC]
 1   Mean Temperature [Deg C]  6079 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 142.5 KB

#### Station 18234 parameter Screen_Observations, changing name of the column from the "Mean Relative Humidity [percent]" to the standard name "Relative humidity [%]"

In [ ]:
df = pd.read_csv(os.path.join(BASE_DATA_PATH, r'station_folders\18234__Screen_Observations__D.csv'))
display(df)
df.columns = ['Observation time UTC', 'Relative humidity [%]']
df.to_csv(os.path.join(BASE_DATA_PATH, r'station_folders\18234__Screen_Observations__D.csv'), index=False)
display(df.head())

           Observation time UTC  Mean Relative Humidity [percent]
0     2024-12-05 00:00:00+00:00                         69.142857
1     2024-12-04 00:00:00+00:00                         85.833333
2     2024-12-03 00:00:00+00:00                         85.125000
3     2024-12-02 00:00:00+00:00                         79.416667
4     2024-12-01 00:00:00+00:00                         77.208333
...                         ...                               ...
8082  2000-06-10 00:00:00+00:00                         77.541667
8083  2000-06-09 00:00:00+00:00                         77.416667
8084  2000-06-08 00:00:00+00:00                         80.000000
8085  2000-06-07 00:00:00+00:00                         88.125000
8086  2000-06-06 00:00:00+00:00                         76.909091

[8087 rows x 2 columns]

           Observation time UTC  Relative humidity [%]
0     2024-12-05 00:00:00+00:00              69.142857
1     2024-12-04 00:00:00+00:00              85.833333
2     2024-12-03 00:00:00+00:00              85.125000
3     2024-12-02 00:00:00+00:00              79.416667
4     2024-12-01 00:00:00+00:00              77.208333
...                         ...                    ...
8082  2000-06-10 00:00:00+00:00              77.541667
8083  2000-06-09 00:00:00+00:00              77.416667
8084  2000-06-08 00:00:00+00:00              80.000000
8085  2000-06-07 00:00:00+00:00              88.125000
8086  2000-06-06 00:00:00+00:00              76.909091

[8087 rows x 2 columns]

#### In the next step parameter: Rain station_id: 41559 is being calculated per day as a SUM of hourly observations for this day.

In [ ]:
file = r'C:\D\Whitireia\ARP\data\unzipped_data_folders\41559_Rain\41559__Rain__H.csv'
parameter = 'Rainfall [mm]'
df = pd.read_csv(file, usecols=['Observation time UTC',	parameter], parse_dates=['Observation time UTC'])
print(file)
display(df.sort_values(['Observation time UTC'], ascending=False).head())
print(df.info())

daily_df = df.groupby(pd.Grouper(key='Observation time UTC', freq='d')).sum(parameter).dropna(axis=0).reset_index().sort_values('Observation time UTC', ascending=False)
display(daily_df)

daily_df.to_csv(os.path.join(BASE_DATA_PATH, r'station_folders\41559__Rain__H.csv'), index=False)
print(daily_df.info())

C:\D\Whitireia\ARP\data\unzipped_data_folders\41559_Rain\41559__Rain__H.csv

           Observation time UTC  Rainfall [mm]
64990 2024-12-08 06:00:00+00:00            1.4
64989 2024-12-08 05:00:00+00:00            0.0
64988 2024-12-08 04:00:00+00:00            0.0
64987 2024-12-08 03:00:00+00:00            0.0
64986 2024-12-08 02:00:00+00:00            0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64991 entries, 0 to 64990
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation time UTC  64991 non-null  datetime64[ns, UTC]
 1   Rainfall [mm]         64991 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 1015.6 KB
None

          Observation time UTC  Rainfall [mm]
2783 2024-12-08 00:00:00+00:00            1.4
2782 2024-12-07 00:00:00+00:00            0.0
2781 2024-12-06 00:00:00+00:00            0.0
2780 2024-12-05 00:00:00+00:00            0.0
2779 2024-12-04 00:00:00+00:00            0.2
...                        ...            ...
4    2017-04-30 00:00:00+00:00            9.8
3    2017-04-29 00:00:00+00:00           20.2
2    2017-04-28 00:00:00+00:00            1.4
1    2017-04-27 00:00:00+00:00            0.0
0    2017-04-26 00:00:00+00:00            0.0

[2784 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 2784 entries, 2783 to 0
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation time UTC  2784 non-null   datetime64[ns, UTC]
 1   Rainfall [mm]         2784 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 65.2 KB
None

In [50]:
file = r'C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Rain\31857__Rain__D.csv'
parameter = 'Rainfall [mm]'
df = pd.read_csv(file, usecols=['Observation time UTC',	parameter, 'PERIOD [hrs]'], parse_dates=['Observation time UTC']).sort_values(['Observation time UTC'], ascending=False)
print(file)
display(df.iloc[650:700])
# print(df.info())

flt = (df['PERIOD [hrs]'] // 24) > 1
divisor = df['PERIOD [hrs]'] // 24
df['Rainfall [mm]'] = (df['Rainfall [mm]'] / divisor).round(2)
display(df.iloc[650:700])
# df[flt]['Rainfall [mm]'] = df[flt]['Rainfall [mm]'] / 


# daily_df = df.groupby(pd.Grouper(key='Observation time UTC', freq='d')).sum(parameter).dropna(axis=0).reset_index().sort_values('Observation time UTC', ascending=False)
# display(daily_df)

# daily_df.to_csv(os.path.join(BASE_DATA_PATH, r'station_folders\41559__Rain__H.csv'), index=False)
# print(daily_df.info())

C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Rain\31857__Rain__D.csv

          Observation time UTC  Rainfall [mm]  PERIOD [hrs]
5595 2023-01-07 20:00:00+00:00           96.4            24
5594 2023-01-06 20:00:00+00:00            4.5            24
5593 2023-01-05 20:00:00+00:00           21.5            24
5592 2023-01-04 20:00:00+00:00            4.1            24
5591 2023-01-03 20:00:00+00:00            0.0            24
5590 2023-01-02 20:00:00+00:00            2.7            24
5589 2023-01-01 20:00:00+00:00            2.5            24
5588 2022-12-31 20:00:00+00:00            1.6            48
5587 2022-12-29 20:00:00+00:00            0.0            24
5586 2022-12-28 20:00:00+00:00            0.0            24
5585 2022-12-27 20:00:00+00:00            0.0            24
5584 2022-12-26 20:00:00+00:00            0.0            24
5583 2022-12-25 20:00:00+00:00           55.3            72
5582 2022-12-22 20:00:00+00:00            0.8            24
5581 2022-12-21 20:00:00+00:00            3.6            24
5580 2022-12-20 20:00:00+00:00           27.2            24
5579 2022-12-19 20:00:00+00:00           16.9            24
5578 2022-12-18 20:00:00+00:00           10.4            24
5577 2022-12-17 20:00:00+00:00           39.7            24
5576 2022-12-16 20:00:00+00:00            0.0            24
5575 2022-12-15 20:00:00+00:00            0.0            24
5574 2022-12-14 20:00:00+00:00            0.0            24
5573 2022-12-13 20:00:00+00:00            0.0            24
5572 2022-12-12 20:00:00+00:00            0.0            24
5571 2022-12-11 20:00:00+00:00            0.0            24
5570 2022-12-10 20:00:00+00:00            2.4            24
5569 2022-12-09 20:00:00+00:00            2.5            24
5568 2022-12-08 20:00:00+00:00            0.0            24
5567 2022-12-07 20:00:00+00:00            0.0            24
5566 2022-12-06 20:00:00+00:00            0.0            24
5565 2022-12-05 20:00:00+00:00            0.0            24
5564 2022-12-04 20:00:00+00:00            0.0            24
5563 2022-12-03 20:00:00+00:00            0.0            24
5562 2022-12-02 20:00:00+00:00            0.9            24
5561 2022-12-01 20:00:00+00:00            7.0            24
5560 2022-11-30 20:00:00+00:00            0.0            24
5559 2022-11-29 20:00:00+00:00            0.0            24
5558 2022-11-28 20:00:00+00:00            0.0            24
5557 2022-11-27 20:00:00+00:00            0.0            24
5556 2022-11-26 20:00:00+00:00            0.0            24
5555 2022-11-25 20:00:00+00:00            0.0            24
5554 2022-11-24 20:00:00+00:00            0.0            24
5553 2022-11-23 20:00:00+00:00            3.3            24
5552 2022-11-22 20:00:00+00:00           10.5            24
5551 2022-11-21 20:00:00+00:00            0.0            24
5550 2022-11-20 20:00:00+00:00            2.0            24
5549 2022-11-19 20:00:00+00:00            0.3            24
5548 2022-11-18 20:00:00+00:00           37.5            24
5547 2022-11-17 20:00:00+00:00           54.1            24
5546 2022-11-16 20:00:00+00:00            0.0            24

          Observation time UTC  Rainfall [mm]  PERIOD [hrs]
5595 2023-01-07 20:00:00+00:00          96.40            24
5594 2023-01-06 20:00:00+00:00           4.50            24
5593 2023-01-05 20:00:00+00:00          21.50            24
5592 2023-01-04 20:00:00+00:00           4.10            24
5591 2023-01-03 20:00:00+00:00           0.00            24
5590 2023-01-02 20:00:00+00:00           2.70            24
5589 2023-01-01 20:00:00+00:00           2.50            24
5588 2022-12-31 20:00:00+00:00           0.80            48
5587 2022-12-29 20:00:00+00:00           0.00            24
5586 2022-12-28 20:00:00+00:00           0.00            24
5585 2022-12-27 20:00:00+00:00           0.00            24
5584 2022-12-26 20:00:00+00:00           0.00            24
5583 2022-12-25 20:00:00+00:00          18.43            72
5582 2022-12-22 20:00:00+00:00           0.80            24
5581 2022-12-21 20:00:00+00:00           3.60            24
5580 2022-12-20 20:00:00+00:00          27.20            24
5579 2022-12-19 20:00:00+00:00          16.90            24
5578 2022-12-18 20:00:00+00:00          10.40            24
5577 2022-12-17 20:00:00+00:00          39.70            24
5576 2022-12-16 20:00:00+00:00           0.00            24
5575 2022-12-15 20:00:00+00:00           0.00            24
5574 2022-12-14 20:00:00+00:00           0.00            24
5573 2022-12-13 20:00:00+00:00           0.00            24
5572 2022-12-12 20:00:00+00:00           0.00            24
5571 2022-12-11 20:00:00+00:00           0.00            24
5570 2022-12-10 20:00:00+00:00           2.40            24
5569 2022-12-09 20:00:00+00:00           2.50            24
5568 2022-12-08 20:00:00+00:00           0.00            24
5567 2022-12-07 20:00:00+00:00           0.00            24
5566 2022-12-06 20:00:00+00:00           0.00            24
5565 2022-12-05 20:00:00+00:00           0.00            24
5564 2022-12-04 20:00:00+00:00           0.00            24
5563 2022-12-03 20:00:00+00:00           0.00            24
5562 2022-12-02 20:00:00+00:00           0.90            24
5561 2022-12-01 20:00:00+00:00           7.00            24
5560 2022-11-30 20:00:00+00:00           0.00            24
5559 2022-11-29 20:00:00+00:00           0.00            24
5558 2022-11-28 20:00:00+00:00           0.00            24
5557 2022-11-27 20:00:00+00:00           0.00            24
5556 2022-11-26 20:00:00+00:00           0.00            24
5555 2022-11-25 20:00:00+00:00           0.00            24
5554 2022-11-24 20:00:00+00:00           0.00            24
5553 2022-11-23 20:00:00+00:00           3.30            24
5552 2022-11-22 20:00:00+00:00          10.50            24
5551 2022-11-21 20:00:00+00:00           0.00            24
5550 2022-11-20 20:00:00+00:00           2.00            24
5549 2022-11-19 20:00:00+00:00           0.30            24
5548 2022-11-18 20:00:00+00:00          37.50            24
5547 2022-11-17 20:00:00+00:00          54.10            24
5546 2022-11-16 20:00:00+00:00           0.00            24

In [52]:
file = r'C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Rain\31857__Rain__D.csv'
parameter = 'Rainfall [mm]'
df = pd.read_csv(file, usecols=['Observation time UTC',	parameter, 'PERIOD [hrs]'], parse_dates=['Observation time UTC']).sort_values(['Observation time UTC'], ascending=False)
print(file)
display(df)

flt = df['Rainfall [mm]'] >= 60
display(df[flt])

C:\D\Whitireia\ARP\data\unzipped_data_folders\31857_Rain\31857__Rain__D.csv

          Observation time UTC  Rainfall [mm]  PERIOD [hrs]
6245 2024-10-31 20:00:00+00:00            0.0            24
6244 2024-10-30 20:00:00+00:00            2.2            24
6243 2024-10-29 20:00:00+00:00            0.0            24
6242 2024-10-28 20:00:00+00:00           14.9            24
6241 2024-10-27 20:00:00+00:00            0.0            24
...                        ...            ...           ...
4    2007-07-05 21:00:00+00:00           23.8            24
3    2007-07-04 21:00:00+00:00            0.0            24
2    2007-07-03 21:00:00+00:00            0.0            24
1    2007-07-02 21:00:00+00:00            0.4            24
0    2007-07-01 21:00:00+00:00            4.2            24

[6246 rows x 3 columns]

          Observation time UTC  Rainfall [mm]  PERIOD [hrs]
6153 2024-07-31 21:00:00+00:00           66.0            24
5633 2023-02-14 20:00:00+00:00          169.5            24
5632 2023-02-13 20:00:00+00:00          119.5            24
5598 2023-01-10 20:00:00+00:00           76.0            24
5595 2023-01-07 20:00:00+00:00           96.4            24
5448 2022-08-08 21:00:00+00:00           84.7            24
5447 2022-08-07 21:00:00+00:00           65.9            24
5318 2022-03-24 20:00:00+00:00           75.5            24
5317 2022-03-23 20:00:00+00:00           64.3            24
5278 2022-02-12 20:00:00+00:00           96.8            24
5271 2022-02-05 20:00:00+00:00           66.5            24
5044 2021-06-20 21:00:00+00:00          201.3            24
4823 2020-11-09 20:00:00+00:00          112.8            24
4692 2020-07-01 21:00:00+00:00           72.9            24
4597 2020-03-28 20:00:00+00:00          122.8            24
4596 2020-03-27 20:00:00+00:00          108.2            24
4528 2020-01-18 20:00:00+00:00           99.9            48
4122 2018-11-26 20:00:00+00:00           89.7            24
3955 2018-06-12 21:00:00+00:00           86.5            24
3954 2018-06-11 21:00:00+00:00          151.0            24
3859 2018-03-07 20:00:00+00:00          123.6            24
3660 2017-08-19 21:00:00+00:00           63.5            24
3623 2017-07-13 21:00:00+00:00           74.5            24
3622 2017-07-12 21:00:00+00:00           75.0            24
3532 2017-04-13 21:00:00+00:00           81.4            24
3523 2017-04-04 21:00:00+00:00           78.5            24
3477 2017-02-17 20:00:00+00:00           69.1            24
3375 2016-11-07 20:00:00+00:00          122.0            24
2968 2015-09-22 21:00:00+00:00           98.3            24
2304 2013-11-27 20:00:00+00:00           71.6            24
2240 2013-09-24 21:00:00+00:00          137.3            24
2165 2013-07-11 21:00:00+00:00          109.1            24
2050 2013-03-18 20:00:00+00:00           76.0            24
1820 2012-07-31 21:00:00+00:00           72.2            24
1687 2012-03-20 20:00:00+00:00           91.0            24
1686 2012-03-19 20:00:00+00:00           67.7            24
1670 2012-03-03 20:00:00+00:00           63.0            24
1669 2012-03-02 20:00:00+00:00          120.8            24
1615 2012-01-08 20:00:00+00:00           94.9            24
1470 2011-08-16 21:00:00+00:00           69.5            24
1265 2011-01-23 20:00:00+00:00           77.4            24
1081 2010-07-23 21:00:00+00:00           87.4            24
910  2010-01-31 20:00:00+00:00          106.5            24
901  2010-01-22 20:00:00+00:00           74.3            24
387  2008-08-26 21:00:00+00:00           76.9            24
360  2008-07-30 21:00:00+00:00          126.7            24
278  2008-05-09 21:00:00+00:00           79.8            24
16   2007-07-17 21:00:00+00:00           75.6            24